body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(44, 47, 49);
    overflow: hidden;
}

.graph_line {
    stroke: rgb(255, 182, 72);
}

.graph_date {
    fill: #ffb648;
    font-family: 'VT323', monospace;
}

#graph {
    position: absolute;
    top: 3%;
    left: 3%;
    height: 80%;
    width: 57%;
}

#word_lable {
    position: absolute;
    top: 10%;
    left: 65%;
    width: 30%;
    font-size: xx-large;
    color:rgb(255, 182, 72);
    text-align: center;
}

#details {
    position: absolute;
    top: 25%;
    left: 65%;
    width: 30%;
    height: 60%;
}

#details #appearance {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50%;
}
#details #appearance #a_first{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 33%;
    height: 100%;
}
#details #appearance #a_most{
    position: absolute;
    top: 0%;
    left: 33%;
    width: 33%;
    height: 100%;
}
#details #appearance #a_last{
    position: absolute;
    top: 0%;
    left: 66%;
    width: 33%;
    height: 100%;
}

.detail_text {
    position: absolute;
    width: 100%;
    top: 20%;
    font-size: 3vw;
    text-align: center;
    color: #15DB95;
    font-family: 'VT323', monospace;
}

.detail_date {
    position: absolute;
    width: 100%;
    top: 40%;
    font-size: 2vw;
    text-align: center;
    color: #15DB95;
    font-family: 'VT323', monospace;
}

#details #w_plot {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
}